body {
    font-family: 'Poppins', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}

div>ul {
    display: flex;
}

.menu-ber {
    float: right;
}

div li {
    list-style: none;
    margin-right: 1em;
}

div li a {
    text-align: right;
    text-decoration: none;
    color: black;
}

.marketing {
    display: flex;
    padding: 10px;
}

.menu>ul>li {
    float: right;
}

.influencer {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.influencer h1 {
    font-size: 40px;
}

.influencer p {
    text-align: justify;
}

.influencer img {
    width: 110%;
    margin-top: 3em;
}

.preebook-arrow {
    display: flex;
    padding: 5px;
}

.pree-arrow {
    text-decoration: none;
    background-color: violet;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 30px;
    margin-bottom: 200px;
}

.preebook {
    text-decoration: none;
    color: white;
}

.sensor {
    display: flex;
}

/* 
    logos
           */
.logos {
    display: flex;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
    justify-content: space-between;
}

/* 
    Popular Collection
                         */
.popular {
    padding: 10px;
}

.collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    padding: 15px;

}

.collect {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
}

.collect-banner {
    margin-bottom: 10px;
    margin-top: 15px;
}

.popular h2 {
    text-align: center;
    font-size: 35px;
    padding-top: 30px;
    margin-top: 30px;
}

.collect-detail p {
    text-align: justify;
}

.collect .collect-banner img {
    width: 200px;
    height: 150px;
}

.collect-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star.fa-star-half-alt {
    font-size: 12px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
}

.fa-star-half-alt {
    color: #FFC014;
}

/* see-more */
.more-item {
    display: flex;
    padding: 5px;
}

.more {
    text-decoration: none;
    background-color: violet;
    padding: 0px 30px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 40px;
    margin-bottom: 200px;
}

.see-more {
    text-decoration: none;
    color: white;
}

#more-collection {
    float: right;
}

/* 
    optional
              */
.media {
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
}

.media-exposure {
    width: 50%;
}

.media-exposure p {
    text-align: justify;
}

.media-exposure img {
    margin-top: 50px;
}

/* footer
         */
/* #footer-align {} */

.copy.fa-copy {
    display: flex;
}

.fa-copy {
    margin-top: 17px;
}

footer {
    text-align: center;
    /* align-items: center; */
    color: white;
    background-color: black;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
}

#footer-align {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

/* .copy.fa-copy{
    text-align: center;
    align-items: center;
} */

.social-logo {
    justify-content: space-between;
}

/* Mobile Devices */

/* @media only screen and (max-width:) {} */