body{
    font-family: 'Poppins', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}
div > ul{
    display: flex;
}
div li{
    list-style: none;
    margin-right: 1em;
}
div li a{
    text-align: right;
    text-decoration: none;
    color: black;
}

.marketing{
    display: flex;
    padding: 10px;
}
.influencer{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.influencer h1{
    font-size: 40px;
}
.influencer p{
    text-align: justify;
}
.influencer img{
    width: 110%;
    margin-top: 3em;
}
.preebook-arrow{
    display: flex;
}
.pree-arrow{
    text-decoration: none;
    background-color: violet;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 30px;
    margin-bottom: 200px;
}
.preebook{
    text-decoration: none;
    color: white;
}
.sensor{
    display: flex;
}

